<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.quarkbit.trabajosocialsanjuan.dao.persistence.InstitucionMapper" >
  <resultMap id="BaseResultMap" type="org.quarkbit.trabajosocialsanjuan.dao.domain.Institucion" >
    <!--
      
      
      
    -->
    <id column="codigo_institucion" property="codigoInstitucion" jdbcType="INTEGER" />
    <result column="nombre_institucion" property="nombreInstitucion" jdbcType="VARCHAR" />
    <result column="direccion" property="Direccion" jdbcType="VARCHAR" />
    <result column="telefono" property="Telefono" jdbcType="CHAR" />
    <result column="descripcion" property="descripcion" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      
      
      
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      
      
      
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      
      
      
    -->
    codigo_institucion, nombre_institucion, direccion, telefono, descripcion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.InstitucionExample" >
    <!--
      
      
      
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from instituciones
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      
      
      
    -->
    select 
    <include refid="Base_Column_List" />
    from instituciones
    where codigo_institucion = #{codigoInstitucion,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      
      
      
    -->
    delete from instituciones
    where codigo_institucion = #{codigoInstitucion,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.InstitucionExample" >
    <!--
      
      
      
    -->
    delete from instituciones
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.Institucion" >
    <!--
      
      
      
    -->
    insert into instituciones (codigo_institucion, nombre_institucion, 
      direccion, telefono, descripcion
      )
    values (DEFAULT, #{nombreInstitucion,jdbcType=VARCHAR}, 
      #{Direccion,jdbcType=VARCHAR}, #{Telefono,jdbcType=CHAR}, #{descripcion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.Institucion" >
    <!--
      
      
      
    -->
    insert into instituciones
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codigoInstitucion != null" >
        codigo_institucion,
      </if>
      <if test="nombreInstitucion != null" >
        nombre_institucion,
      </if>
      <if test="Direccion != null" >
        direccion,
      </if>
      <if test="Telefono != null" >
        telefono,
      </if>
      <if test="descripcion != null" >
        descripcion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codigoInstitucion != null" >
        #{codigoInstitucion,jdbcType=INTEGER},
      </if>
      <if test="nombreInstitucion != null" >
        #{nombreInstitucion,jdbcType=VARCHAR},
      </if>
      <if test="Direccion != null" >
        #{Direccion,jdbcType=VARCHAR},
      </if>
      <if test="Telefono != null" >
        #{Telefono,jdbcType=CHAR},
      </if>
      <if test="descripcion != null" >
        #{descripcion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.InstitucionExample" resultType="java.lang.Integer" >
    <!--
      
      
      
    -->
    select count(*) from instituciones
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      
      
      
    -->
    update instituciones
    <set >
      <if test="record.codigoInstitucion != null" >
        codigo_institucion = #{record.codigoInstitucion,jdbcType=INTEGER},
      </if>
      <if test="record.nombreInstitucion != null" >
        nombre_institucion = #{record.nombreInstitucion,jdbcType=VARCHAR},
      </if>
      <if test="record.Direccion != null" >
        direccion = #{record.Direccion,jdbcType=VARCHAR},
      </if>
      <if test="record.Telefono != null" >
        telefono = #{record.Telefono,jdbcType=CHAR},
      </if>
      <if test="record.descripcion != null" >
        descripcion = #{record.descripcion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      
      
      
    -->
    update instituciones
    set codigo_institucion = #{record.codigoInstitucion,jdbcType=INTEGER},
      nombre_institucion = #{record.nombreInstitucion,jdbcType=VARCHAR},
      direccion = #{record.Direccion,jdbcType=VARCHAR},
      telefono = #{record.Telefono,jdbcType=CHAR},
      descripcion = #{record.descripcion,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.Institucion" >
    <!--
      
      
      
    -->
    update instituciones
    <set >
      <if test="nombreInstitucion != null" >
        nombre_institucion = #{nombreInstitucion,jdbcType=VARCHAR},
      </if>
      <if test="Direccion != null" >
        direccion = #{Direccion,jdbcType=VARCHAR},
      </if>
      <if test="Telefono != null" >
        telefono = #{Telefono,jdbcType=CHAR},
      </if>
      <if test="descripcion != null" >
        descripcion = #{descripcion,jdbcType=VARCHAR},
      </if>
    </set>
    where codigo_institucion = #{codigoInstitucion,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.quarkbit.trabajosocialsanjuan.dao.domain.Institucion" >
    <!--
      
      
      
    -->
    update instituciones
    set nombre_institucion = #{nombreInstitucion,jdbcType=VARCHAR},
      direccion = #{Direccion,jdbcType=VARCHAR},
      telefono = #{Telefono,jdbcType=CHAR},
      descripcion = #{descripcion,jdbcType=VARCHAR}
    where codigo_institucion = #{codigoInstitucion,jdbcType=INTEGER}
  </update>
  
  <update id="obtenerUltimoId" parameterType="Map" statementType="CALLABLE">
  		{#{ultimoId,javaType=int,jdbcType=INTEGER,mode=OUT} = call obtener_ultimo_codigo('instituciones')}   
  </update>
</mapper>